keras==2.8.0
numpy==1.22.3
PyAudio==0.2.11
PyQt5==5.15.6
pyttsx3==2.90
PyYAML==6.0
tensorflow==2.8.0
vosk==0.3.32

PySide2~=5.15.2.1

mysql~=0.0.3
mysql-connector-python~=8.0.28
Jinja2~=3.1.1
bcrypt~=3.2.0